* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    barlow Condensed,
    sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.mr {
  margin-right: 25px;
}

.clearfix {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.overflow-auto {
  overflow: auto;
}
